<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selelctEmpById">
        SELECT
            EMP_ID,
            EMP_NAME,
            DEPT_CODE,
            JOB_CODE,
            SALLEVEL,
            SALARY,
          FROM EMPLOYEE
         WHERE EMP_ID = ?
    </entry>
</properties>